.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar .nav-item{
    margin: 2px;
}

.nav-link {
  color: black;
}

.nav-active {
    border: 1px solid black;
    border-radius: 4px;
}

a {
  padding: 5px;
}

a.hovered {
  background-color: black;
  color: white !important;
}

a.normal {
  background-color: inherit;
  color: inherit;
}
